.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin-bottom: 40px;
}

.line {
  width: 100%;
  display: flex;
  max-width: 512px;
  justify-content: space-between;
  padding: 17px 0;
  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $black-text;
  }
  .price {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    color: $black-text;
  }
}

.hr {
  width: 100%;
  max-width: 512px;
  margin: 0;
  border: 1px solid $separator-color;
}
.buy {
  display: flex;
  max-width: 512px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
